@{
    ViewData["Title"] = "Stats";
}

<div class="text-center">
    <h1 class="display-4">Random Pokemon</h1>
    <!-- Use this to fetch a random pokemon of the day from DB and show details about it. Unit Test randomness -->
</div>
