@{
    ViewData["Title"] = "Stats";
}

<div class="text-center">
    <h1 class="display-4">Stats</h1>
    <!--Use this to show some graphs - Distribution of pokemon types - Explore Each Pokemon->
</div>
